<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalle's Blog</title>
</head>
<body>
    <div>
        <h1>Kalle's Blog</h1>
    </div>

    <div>
        <p>pusblished 18.03.2018, 18:55</p>
        <h2><a href="">My first post</a></a></h2>
        <p>Mausi ist einfach super! Wir hatten einen tollen Tag und jetzt hören wir 'Das Joshua Profil'.</p>
    </div>

     <div>
        <p>pusblished 18.03.2018, 18:55</p>
        <h2><a href="">My second post</a></a></h2>
        <p>Mausi ist voller Ueberraschungen! Sie kann lachen und tanzen.</p>
    </div>
</html>
</body>
</html>
